@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    

}
.container {
  width: 80%;
  margin: 0 auto;
}
.nice-font {
  font-family: 'Fredericka the Great', cursive;
      color: #8bc34ad1;

}
.old-font {
  font-family: "Courier New";
      color: #ff9800b0;

}
body {
	font-family: 'Poiret One', cursive;
  
}
.hrdar_father {
position: relative;
overflow: hidden;

}
.heda_blur {
    background-image: url("imges/hedar2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width:100%;
    height:100vh;
    z-index: -1;
    overflow: hidden;
    
}
.hedar {
    
    width:100%;
    height:100vh;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10PX;
    z-index: 99;
    overflow: hidden;
}
.hedar .navbar {
    width: 100%;
    padding: 10PX;
    max-height: 80px;
    
    z-index: 4;
}
.hedar .navbar .logome {
    float: left;
    margin: 0;
    padding: 0 50px;
    font-size: 3.8em;
    text-transform: uppercase;
    color: #E91E63;
    font-weight: 999;
    text-shadow: -2px 2px 5px #000;

}
.hedar ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    font-size: 2em;
    text-transform: capitalize;
    
    text-shadow: -2px 2px 5px #000;
    float: right;

}
.hedar .navbar.scroll {
    z-index: 99;
    background: #e5e5e5;
    box-shadow: 0 0 20px;
    text-shadow: -2px -2px 6px #000;
    transition: .2s;
    position: fixed;
}
.hedar ul li {
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right:10PX;
    padding: 10px;
    transition: .5s;

}
.hedar ul li:hover {
  cursor: pointer;
  color: #E91E63;
  border-bottom: 2px solid;
}
.hedar ul li.active {
	/*text-shadow: 0 0 1px;*/
    color: #E91E63;
    border-bottom: 2px solid;



}
.hedar h2 {
	 text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    /*padding: 3% 5%;*/
    font-size: 5em;
    font-family: 'Poiret One', cursive;
    background: rgba(0, 0, 0, 0.5);
    transition: .2s;
    /*box-shadow: 0 0 10PX;*/



}



.hedar h2 span {
    transition: 1s;
}
.hedar h2 .ig {
color: #fff;
float: left;
letter-spacing: 5px;

}
.typed-cursor {
  color: #E91E63;
  font-weight: 100;
  display: none;
}
.hedar h2 .logo {
	text-transform: uppercase;
  color: #E91E63;
	font-size: 1.2em;
  float: left;
  margin-left: 30%;
}
.scroll-downs {
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.scroll-downs:hover .mousey {
  cursor: pointer;
  color: #E91E63;
  background: #E91E63;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  transition: .5s;
}
.scroller {
  width: 4.5px;
  height: 14px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;

}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.about-me {
    width:100%;
    height:100vh;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10PX;
    background-image: url("imges/skilse.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about-me-img {
  float: left;
  width: 40%;
  margin:0;
  background: url("imges/my-profile.jpg");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 80vh;

}
.about-me-text {
  float: left;
  width: 60%;
  margin: 0;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.3));
  height: 80vh;
  color: #fff;
  padding: 5% 0;
}
.about-me-text h2 {
  font-size: 3em;
  color: #E91E63;
  text-transform: capitalize;

}
.about-me-text h4 {
  font-size: 1.5em;
}
.about-me-text p {
     color: #afafafd9;
    font-size: 1.3em;
    margin-top:30px ;
}







